.price .integer {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2em;
}

.price .decimal {
  font-size: 0.9em;
  vertical-align: top;
}

.regular {
  margin-top: 40px;
}

.oldPrice {
  text-decoration: line-through;
  color: rgb(170, 170, 170);
}

.oldPrice .integer {
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2em;
}

.oldPrice .decimal {
  font-size: 0.7em;
  vertical-align: top;
}

.salePrice {
  color: rgb(235, 49, 49);
}

.card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: -webkit-fill-available;
}
