.price .integer {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.2em;
}

.price .decimal {
  font-size: 0.9em;
  vertical-align: top;
}

.price .currency {
  font-size: 1.2em;
  padding-left: 5px;
}
